@page "/createcult"

@using BlazorBootstrap

<PageTitle>Cult</PageTitle>

<h1>Starting a cult</h1>

<p>
    <Tooltip Title="Changes the naming convention a bit" Placement="TooltipPlacement.Left">
        <Switch Value="@Spiffy" Label="Extra weird" ValueChanged="@((newValue) => {Spiffy = newValue; if (Cultname is not null) {GenerateCultName();}})"></Switch>
    </Tooltip>
</p>

<p>
    <Tooltip Title="Show dice values" Placement="TooltipPlacement.Left">
        <Switch @bind-Value="@ShowDetails" Label="Show details"></Switch>
    </Tooltip>
</p>

<p>
    <Button Color="ButtonColor.Primary" Size="Size.Large" @onclick="GenerateCultName" TooltipTitle="Generates a new name for your cult" TooltipPlacement="TooltipPlacement.Auto">
        <Icon Name="@ThingyDexer.WASM.General.Randomizer.DiceIcon" /> Click me
    </Button>
</p>

@if (Cultname.HasValue)
{
    <Callout Type="CalloutType.Default" Heading="Cultname">
        <p>
            <h4>
                <strong>
                    @Displayname
                </strong>
            </h4>
        </p>
        @if (ShowDetails)
        {
            <Grid Class="Regel" Data="@DisplayDetails">
                <GridColumn TItem="Regel" PropertyName="Index" HeaderText="Index">@context.Id</GridColumn>
                <GridColumn TItem="Regel" PropertyName="Value" HeaderText="Value">@context.Name</GridColumn>
            </Grid>
        }
        <br />
        <p>@($"{TimeStamp:dd-MM-yyyy HH:mm:ss}")</p>
    </Callout>
}
else
{
    <Callout Type="CalloutType.Tip">
        <h4>Try clicking the button ...</h4>
    </Callout>
}



