@using BlazorBootstrap
@using ThingyDexer.Model.General;
@using ThingyDexer.ViewModel
@using ThingyDexer.ViewModel.Table
@using ThingyDexer.WASM.Shared.Components


<div>
    <!-- Step 1 : how do we create our (cult) name -->

    <EditForm Model="CultNameSettingsViewModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <!-- Cult name -->
        <!-- header -->
        @if (CultNameSettingsViewModel.CultnameInputType != null)
        {
            if (CultNameSettingsViewModel.UseGenerator == true)
            {
                <!--re-roll bits -->
                <div class="row">
                    <div class="col-sm-auto py-1 px-1">
                        <Button disabled="@(CultNameSettingsViewModel.HeeftSelectedRegel == false)" Size="Size.Medium"
                        Color="ButtonColor.Secondary"
                        @onclick="@(()=>CultNameSettingsViewModel.RerollSelectedRegel())">
                            <Icon Name="IconName.Dice3Fill" />
                            Re-roll selection
                        </Button>
                    </div>
                    <div class="col-sm-auto py-1 px-1">
                        <Button Disabled="@(CultNameSettingsViewModel.HasCultname == false)" Size="Size.Medium"
                        Color="ButtonColor.Secondary"
                        @onclick="@(()=>CultNameSettingsViewModel.RerollCultName())">
                            <Icon Name="IconName.Dice4Fill" />
                            Re-roll name
                        </Button>
                    </div>
                    <div class="col"></div>
                </div>
                <!--remove bits -->
                @if (CultNameSettingsViewModel.CultnameInputType == Model.General.CultnameInputType.Custom)
                {
                    <div class="row">
                        <div class="col-sm-auto py-1 px-1">
                            <Button Disabled="@(CultNameSettingsViewModel.SelectedRegel == null)"
                        Size="Size.Medium"
                        Color="ButtonColor.Danger" @onclick="@(() => CultNameSettingsViewModel.ClearSelectedItem())">
                                <Icon Name="IconName.Trash" />
                                Delete selection
                            </Button>
                        </div>
                        <div class="col-sm-auto py-1 px-1">
                            <Button Disabled="@(CultNameSettingsViewModel.HasCultname == false)" Size="Size.Medium"
                        Color="ButtonColor.Danger" @onclick="@(() => CultNameSettingsViewModel.ClearCultname())">
                                <Icon Name="IconName.Trash" />
                                Delete name
                            </Button>
                        </div>
                        <div class="col"></div>
                    </div>
                }

                <!--show rolled result -->
                <div class="row">
                    <div class="col-sm-auto">
                        <div class="mx-4 my-2 px-2 py-2">
                            @if (CultNameSettingsViewModel.IncludeRandomDefiniteArticle)
                            {
                                <TableRowDisplayItem Table="@CultNameSettingsViewModel.CultnameTableSet.DefiniteArticleTable"
                                         Value="@CultNameSettingsViewModel.DefiniteArticle"
                                         ValueChanged="@((n) => {CultNameSettingsViewModel.DefiniteArticle = n; CultNameSettingsViewModel.ShowDetails = true;})"
                                         SelectedRegel="@CultNameSettingsViewModel.SelectedRegel"
                                         SelectedRegelChanged="@((r) => { CultNameSettingsViewModel.SelectedRegel = r; CultNameSettingsViewModel.ShowDetails = true;})" />
                            }
                            @if (CultNameSettingsViewModel.CultnameInputType.HasAdjective1())
                            {
                                <TableRowDisplayItem Table="@CultNameSettingsViewModel.CultnameTableSet.AdjectiveTable1"
                                         Value="@CultNameSettingsViewModel.Adjective1"
                                         ValueChanged="@((n) => {CultNameSettingsViewModel.Adjective1 = n; CultNameSettingsViewModel.ShowDetails = true;})"
                                         SelectedRegel="@CultNameSettingsViewModel.SelectedRegel"
                                         SelectedRegelChanged="@((r) => { CultNameSettingsViewModel.SelectedRegel = r; CultNameSettingsViewModel.ShowDetails = true;})" />
                            }
                            @if (CultNameSettingsViewModel.CultnameInputType.HasNoun1())
                            {
                                <TableRowDisplayItem Table="@CultNameSettingsViewModel.CultnameTableSet.NameTable"
                                         Value="@CultNameSettingsViewModel.Noun1"
                                         SuffixAction="@((n) => (CultNameSettingsViewModel.CultnameInputType == CultnameInputType.TemplateAdjective2PossessiveNoun2Adjective1Noun1) ? MakePossessive(n) : n)"
                                         ValueChanged="@((n) => {CultNameSettingsViewModel.Noun1 = n; CultNameSettingsViewModel.ShowDetails = true;})"
                                         SelectedRegel="@CultNameSettingsViewModel.SelectedRegel"
                                         SelectedRegelChanged="@((r) => { CultNameSettingsViewModel.SelectedRegel = r; CultNameSettingsViewModel.ShowDetails = true;})" />

                            }
                            <!-- -->
                            @if ((CultNameSettingsViewModel.Noun1 is not null) && (CultNameSettingsViewModel.Noun2 is not null) && (CultNameSettingsViewModel.CultnameInputType != CultnameInputType.TemplateAdjective2PossessiveNoun2Adjective1Noun1))
                            {
                                <span>
                                    <Button Type="ButtonType.Button" Color="ButtonColor.None" Disabled=true Active=false Outline=false>
                                        <h4>of the</h4>
                                    </Button>
                                </span>
                            }
                            <!-- -->
                            @if (CultNameSettingsViewModel.CultnameInputType.HasAdjective2())
                            {
                                <TableRowDisplayItem Table="@CultNameSettingsViewModel.CultnameTableSet.AdjectiveTable2"
                                         Value="@CultNameSettingsViewModel.Adjective2"
                                         ValueChanged="@((n) => {CultNameSettingsViewModel.Adjective2 = n; CultNameSettingsViewModel.ShowDetails = true;})"
                                         SelectedRegel="@CultNameSettingsViewModel.SelectedRegel"
                                         SelectedRegelChanged="@((r) => { CultNameSettingsViewModel.SelectedRegel = r; CultNameSettingsViewModel.ShowDetails = true;})" />
                            }
                            @if (CultNameSettingsViewModel.CultnameInputType.HasNoun2())
                            {
                                <TableRowDisplayItem Table="@CultNameSettingsViewModel.CultnameTableSet.SomethingTable"
                                         Value="@CultNameSettingsViewModel.Noun2"
                                         ValueChanged="@((n) => {CultNameSettingsViewModel.Noun2 = n; CultNameSettingsViewModel.ShowDetails = true;})"
                                         SelectedRegel="@CultNameSettingsViewModel.SelectedRegel"
                                         SelectedRegelChanged="@((r) => { CultNameSettingsViewModel.SelectedRegel = r; CultNameSettingsViewModel.ShowDetails = true;})" />
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>choose a method for your madness ...</p>
        }
        <!-- buttons -->
        @*
        <div class="row">
        <span class="col px-3">
        <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Submit</Button>
        <Button Color="ButtonColor.Danger" Type="ButtonType.Button" Disabled="@(CultNameSettingsViewModel.CultnameInputType == null)" onclick="@(() => {HandleReset(); })">Clear</Button>
        </span>
        </div>
        *@
    </EditForm>
    <!--footer -->
</div>
@if ((CultNameSettingsViewModel?.ShowDetails == true) && (CultNameSettingsViewModel.SelectedRegel != null))
{
    <div class="row">
        <div class="col-md-auto">
            <div class="my-2">
                Table : <strong>@CultNameSettingsViewModel?.SelectedRegel?.Owner.Name</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <div class="my-2">
                @if ((CultNameSettingsViewModel?.ShowDetails == true) && (CultNameSettingsViewModel.SelectedRegel != null))
                {
                    <Grid Data="@CultNameSettingsViewModel.SelectedRegel.Owner.Rows(o => new SelectableRegelString() { Selected = (o.Index == CultNameSettingsViewModel.SelectedRegel.Index), Id= o.Index, Name = o.Value, Source = CultNameSettingsViewModel.SelectedRegel.Owner})"
                          class="table table-sm table-hover table-bordered table-striped"
                  AllowPaging=true
                  PaginationAlignment="Alignment.Start"
                  Responsive=true
                  AllowFiltering=true
                  AllowSorting=true>
                        <GridColumn TItem="SelectableRegelString" PropertyName="Selected" HeaderText="" Sortable=false FilterOperator="FilterOperator.Equals" Class="col-sm-auto">
                            <Switch Value="context.Selected"
                            ValueChanged="@(() => {var x=context; DoChangeSelectedRow(x, (CultNameSettingsViewModel.CultnameInputType == CultnameInputType.Custom));})"></Switch>
                        </GridColumn>
                        <GridColumn TItem="SelectableRegelString"
                            PropertyName="IdText"
                            HeaderText="Id"
                            IsDefaultSortColumn=true SortDirection="SortDirection.Ascending" SortKeySelector="@((o) => o.IdText)" Class="col-sm-auto" FilterValue="">
                            <label @onclick="@(() => {var x=context; DoChangeSelectedRow(x, (CultNameSettingsViewModel.CultnameInputType == CultnameInputType.Custom));})">
                                @if (context.Selected)
                                {
                                    <strong>
                                        @context.IdText
                                    </strong>
                                }
                                else
                                {
                                    @context.IdText
                                }
                            </label>
                        </GridColumn>
                        <GridColumn TItem="SelectableRegelString" PropertyName="Name" HeaderText="Value" Sortable=true SortKeySelector="@((o) => o.Name)" Class="col-sm-auto">
                            <label @onclick="@(() => {var x=context; DoChangeSelectedRow(x, (CultNameSettingsViewModel.CultnameInputType == CultnameInputType.Custom));})">
                                @if (context.Selected)
                                {
                                    <strong>
                                        @context.Name
                                    </strong>
                                }
                                else
                                {
                                    @context.Name
                                }
                            </label>
                        </GridColumn>
                    </Grid>
                }
            </div>
        </div>
    </div>
}
