@inherits ComponentBase

@using ThingyDexer.Model.Table

<span>
    @if (Value != null)
    {
        if (SelectedRegel?.Equals(Value) == true)
        {
            <Button Disabled="@(SelectedRegel == null)" Size="Size.Medium"
            Color="ButtonColor.Secondary"
            @onclick="@(() => DoRerollSelectedRegel())">
                <Icon Name="IconName.Dice2Fill" />
            </Button>
        }
        <Button Type="ButtonType.Link"
            Color="@(SelectedRegel?.Equals(Value)==true? ButtonColor.Link:ButtonColor.None)"
            Active=@(SelectedRegel?.Equals(Value) == true)
            Outline=false
            @onclick="@(() => DoSelectNoun())">
            <h4>
                @{
                    string? displayValue;
                    if ((string.IsNullOrEmpty(Value?.Value)==false) && (SuffixAction != null))
                    {
                        displayValue = SuffixAction(Value.Value);
                    }
                    else
                    {
                        displayValue = Value?.Value;
                    }
                }
                @displayValue
            </h4>
        </Button>
    }
    else
    {
        <Button Type="ButtonType.Button"
            Color="ButtonColor.Secondary"
            Outline=true
            @onclick="@(() => DoRollSelectedRegel())">
            <Icon Name="IconName.PlusCircle"></Icon>
        </Button>
    }

</span>

