@inherits ComponentBase

@if (Prefix is not null)
{
    <span>
        <Button Size="Size.Medium" Class="px-1" Type="ButtonType.Link" Color=ButtonColor.None Active=false Disabled=true>
            <h4>@Prefix</h4>
        </Button>
    </span>
}
@if (RowItem != null)
{
    <span>
        <Button Size="Size.Medium" Class="px-1"
            Type="ButtonType.Link"
            Color="@(Selected? ButtonColor.Link:ButtonColor.None)"
            Outline="@(Selected? true:false)"
            Active="@Selected"
            @onclick="@(() => { DoOnRowSelect(); })"
            @ref="RefButton">
            <h4>@RowItem?.Value</h4>
        </Button>
@*
    @($"[{RowItem?.Owner.Name}:{RowItem?.Index:D3}] - {RowItem?.Value}")
*@
    </span>
}
else
{
    <span>
        <Button Type="ButtonType.Button"
            Color="ButtonColor.Secondary" Outline=true
            @onclick="@DoOnClickRollItem">
            <Icon Name="IconName.PlusCircle"></Icon>
        </Button>
    </span>
}

