<CascadingValue Value="this">
    <div id="@Id" class="row px-0 py-0">
        <div class="col-sm-auto">
            <div class="row px-0 py-0">
                <div class="col">
                    <h4>Navigation</h4>
                </div>
            </div>

            <hr class="px-0 py-0"/>

            <div class="row px-0 py-0">
                <div class="col">
                    <ul class="nav nav-pills flex-column">
                        @foreach (var step in Steps.Where(o => HasBeenActivated(o)))
                        {
                            <li id="step-@(StepsIndex(step) + 1)" class="nav-item">
                                <a class="nav-link @((ActiveStep == step) ? "active" : "")" href="javascript: void(0)" @onclick="@(e=> SetActive(step))">
                                    <span>@(StepsIndex(step) + 1))</span>
                                    <span>@step.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div id="container-fluid">
                @ChildContent
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-auto">
            @*
            <button class="btn btn-primary" style="width:96px"
            type="button"
            @onclick="DoCancel">
            Cancel
            </button>
            *@
            <button class="btn btn-primary mx-2 my-2" style="width:96px"
                    disabled="@(ActiveStepIx == 0)" @onclick="GoBack">
                Previous
            </button>
        </div>

        <div class="col d-flex justify-content-center align-middle">
            <div class="align-middle">
                <span>@(ActiveStepIx + 1) </span>
                <text>/</text>
                <span>@(Steps.Count())</span>
            </div>
        </div>

        @if (IsLastStep)
        {
            <div class="col-sm-auto">
                <button class="btn btn-primary mx-2 my-2" style="width:96px"
                        disabled>
                    Next
                </button>
                @**@
                <button class="btn btn-primary mx-2 my-2" style="width:96px"
                        type="submit" @onclick="GoNext">
                    Submit
                </button>
                @**@
            </div>
        }
        else
        {
            <div class="col-sm-auto">
                @{
                    <button class="btn btn-primary mx-2 my-2" style="width:96px"
                        type="button"
                        @onclick="GoNext">
                        Next
                    </button>
                }
                @*
                <button class="btn btn-primary mx-2 my-2" style="width:96px"
                        disabled>
                    Submit
                </button>
                *@
            </div>
        }
    </div>
</CascadingValue>